html {
  box-sizing: border-box;
  background-image: url("fundo.jpg");
}
* {
  padding: 1px;
}
#todos {
  width: 100%;
}

#topodir {
  width: 25%;
  vertical-align: top;
  float: right;
  border: 1px solid grey;
  line-height: 2em;
  background-color: grey;
}
#topodir2 {
  width: 35%;
  vertical-align: top;
  float: right;
  border: 1px solid grey;
  line-height: 2em;
  display: none;
  background-color: grey;
}

#container {
  width: 40%;
  margin: auto;
  border: 1px solid whitesmoke;
  text-align: center;
  background-color: whitesmoke;
}

#fecha {
    vertical-align: top;
    float: right;
}

#mpage {
  border: 1px solid blue;
  display: none;
  width: 98%;
  margin: auto;
  margin-top: 8em;
}

img {
  width: 80px;
  height: 80px;
}

#favorites {
  border: 1px solid black;
  float: right;
  vertical-align: center;
  margin: auto;
  width: 40%;
  font-style: italic;
  text-align: center;
}

#contents {
  width: 49%;
  border: 1px solid pink;
}

#topoesq {
  color: #3b3b3b;
  font-family: 'Raleway',sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 12px;
  margin: 0 0 4px;
  text-transform: uppercase; 
}